In [2]:
a=1+2j
a.real

1.0

In [4]:
a.imag

2.0

In [6]:
7%3

1

In [9]:
7%3
3%7

3

multiline="Life is too short|nYou need python"

In [22]:
multiline="""

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-22-31d900c9d1ce>, line 1)

In [24]:
multiline="Life is too short\nYou need python"
multiline=""

In [29]:
multiline="""
Life is to short
You need python"""
print(multiline)

Life is to short
You need python

In [30]:
head="Python"
tail=" is fun!"
head+tail

'Python is fun!'

In [40]:
a="Life is too short, You need Python"
a[0]
a[1]
a[-1]

'n'

In [41]:
a="Life is too short, You need Python"

In [42]:
a[0:4]

'Life'

In [11]:
number=10
day="three"
"i ate %d apples. so i was sick for %s days." %(number, day)

'i ate 10 apples. so i was sick for three days.'

In [8]:
"i eat %s apples." %"five"
number=3
"i eat %d apples." %number

'i eat 3 apples.'

In [13]:
"Error is %d%%" %98

'Error is 98%'

In [14]:
"%10s" %"hi"

'        hi'

In [15]:
a="hobby"
a.count("b")

2

In [24]:
a="Python is best choice"
print(a.find('b'))
print(a.find('l'))
a.index('b')

10
-1

10

In [20]:
a=","
a.join('abcd')

'a,b,c,d'

In [28]:
a="      hi"
print(a.upper())
print(a.lower())
print(a.lstrip())
print(a.rstrip())

      HI
      hi
hi
      hi

In [41]:
a="Life is too short"
a.split()
a.replace("Life","Your leg")

'Your leg is too short'

In [40]:
a="a:b:c:d"
a.split(":")

AttributeError: 'list' object has no attribute 'replace'

In [37]:
a=[]
b=[1,2,3]
c=['Life','is','too','short']
d=[1,2,'Life','is']
e=[1,2,['Life','is']]

In [42]:
a=[1,2,3]
a

[1, 2, 3]

문자열(Q1, Q2)

In [46]:
pin="881120-1068234"
yyyymmdd=pin[0:6]
num=pin[7:14]
print(yyyymmdd)
print(num)

881120
1068234

In [ ]:
pin="88120-1068234"
print(pin[6])

리스트(Q1, Q2)

In [53]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [58]:
a=['Life','is','too','short']
result=' '.join(a)
print(result)

Life is too short

튜플(Q1, Q2)

In [66]:
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

딕셔너리(Q1)

In [69]:
a={'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

집합(Q1)

In [70]:
a=[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a) 
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

변수(Q1)

In [71]:
a=b=[1,2,3]
a[1]=4
print(b)
a,b는 이름만 다를 뿐이지 완전히 동일한 리스트를 가리키고 있는 변수이다. 그러므로

[1, 4, 3]